[submodule "Plugins/DDTools"]
	path = Plugins/DDTools
	url = https://github.com/remap/DDTools
[submodule "Plugins/highCastlePD"]
	path = Plugins/highCastlePD
	url = https://github.com/reynbows/highCastleProjection
